
body {
    background-color: black;
}

h1{
    color: rgb(229,9,20);
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
}
#main-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
   
    border: 1px solid black;
    width: 25%;
    color: beige;
}

.card img{
    width: 100%;
}
.card button{
    width: 100%;
}

#add-show-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 30px;

}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

