
body {
    background-color: black;
}


header{

    background-color: rgb(229,9,20);
    height: 150px;


}
h1{
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: auto;
}
#main-container{
    display: flex;
    align-items: self-end;
    justify-content: space-evenly;
    gap: 40px;
    flex-wrap: wrap;
    float: left;
    
}

.card{
    display: flex;
    flex-direction: column;
   
    border: 1px solid black;
    width: 25%;
    color: beige;
}

.card img{
    width: 100%;
}
.card button{
    width: 100%;
}

#add-show-input{
    display: block;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 800px;
  position: fixed; 
  top: 150px; 
  left: 0;
  background-color: #f1f1f1;
    
   

}

h3{
    color:white;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 0px;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

label{
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 0px;

}

